<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.EatStreet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".appController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginModule"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.WebSocketActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ViewAllItemActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.StoreOwnerActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.OrderListActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.OrderDetailActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.MainPageActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.AddItemActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.AddUserActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.StoreListActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.StorePageActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ShoppingCartPageActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>